<html>

<head>
    <title>Test Page</title>
    <link href="static/css/quiz.css" rel="stylesheet" />
</head>

<body style="background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);">
    <div class="container-fluid m-lg-5 p-lg-2 mt-sm-3 p-sm-1">
        <form enctype="multipart/form-data" method="post" action="/answer" class="quiz-form container-fluid col-md-6 offset-md-3 col-sm-10">


            <div class="textarea">
                <p><strong>1.{{q1[1]}}</strong></p><br>
                <label>
                <input type="radio" name="q1" value="{{q1[2]}}"> a) {{q1[2]}}</label><br><br>
                <label>
                <input type="radio" name="q1" value="{{q1[3]}}"> b) {{q1[3]}}</label><br><br>
                <label>
                <input type="radio" name="q1" value="{{q1[4]}}"> c) {{q1[4]}}</label><br><br>
                <label>
                <input type="radio" name="q1" value="{{q1[5]}}"> d) {{q1[5]}}</label><br><br>

            </div> <br>




            <div class="textarea">
                <p><strong>2.{{q2[1]}}</strong></p><br>
                <label>
            <input type="radio" name="q2" value="{{q2[2]}}"> a) {{q2[2]}}</label><br><br>
                <label>
            <input type="radio" name="q2" value="{{q2[3]}}"> b) {{q2[3]}}</label><br><br>
                <label>
            <input type="radio" name="q2" value="{{q2[4]}}"> c) {{q2[4]}}</label><br><br>
                <label>
            <input type="radio" name="q2" value="{{q2[5]}}"> d) {{q2[5]}}</label><br><br>
            </div><br>

            <div class="textarea">
                <p><strong>3.{{q3[1]}}</strong></p><br>
                <label>
                <input type="radio" name="q3" value="{{q1[2]}}"> a) {{q3[2]}}</label><br><br>
                <label>
                <input type="radio" name="q3" value="{{q1[3]}}"> b) {{q3[3]}}</label><br><br>
                <label>
                <input type="radio" name="q3" value="{{q1[4]}}"> c) {{q3[4]}}</label><br><br>
                <label>
                <input type="radio" name="q3" value="{{q1[5]}}"> d) {{q3[5]}}</label><br><br>
            </div><br>
    </div>

    <div class="textarea">
        <p><strong>4.{{q4[1]}}</strong></p><br>
        <label>
                <input type="radio" name="q4" value="{{q4[2]}}"> a) {{q4[2]}}</label><br><br>
        <label>
                <input type="radio" name="q4" value="{{q4[3]}}"> b) {{q4[3]}}</label><br><br>
        <label>
                <input type="radio" name="q4" value="{{q4[4]}}"> c) {{q4[4]}}</label><br><br>
        <label>
                <input type="radio" name="q4" value="{{q4[5]}}"> d) {{q4[5]}}</label><br><br>
    </div><br>

    <div class="textarea">
        <p><strong>5.{{q5[1]}}</strong></p><br>
        <label>
                <input type="radio" name="q5" value="{{q5[2]}}"> a) {{q5[2]}}</label><br><br>
        <label>
                <input type="radio" name="q5" value="{{q5[3]}}"> b) {{q5[3]}}</label><br><br>
        <label>
                <input type="radio" name="q5" value="{{q5[4]}}"> c) {{q5[4]}}</label><br><br>
        <label>
                <input type="radio" name="q5" value="{{q5[5]}}"> d) {{q5[5]}}</label><br><br>
    </div><br>

    <div class="textarea">
        <p><strong>6.{{q6[1]}}</strong></p><br>
        <label>
                <input type="radio" name="q6" value="{{q6[2]}}"> a) {{q6[2]}}</label><br><br>
        <label>
                <input type="radio" name="q6" value="{{q6[3]}}"> b) {{q6[3]}}</label><br><br>
        <label>
                <input type="radio" name="q6" value="{{q6[4]}}"> c) {{q6[4]}}</label><br><br>
        <label>
                <input type="radio" name="q6" value="{{q6[5]}}"> d) {{q6[5]}}</label><br><br>
    </div><br>

    <div class="textarea">
        <p><strong>7.{{q7[1]}}</strong></p><br>
        <label>
                <input type="radio" name="q7" value="{{q7[2]}}"> a) {{q7[2]}}</label><br><br>
        <label>
                <input type="radio" name="q7" value="{{q7[3]}}"> b) {{q7[3]}}</label><br><br>
        <label>
                <input type="radio" name="q7" value="{{q7[4]}}"> c) {{q7[4]}}</label><br><br>
        <label>
                <input type="radio" name="q7" value="{{q7[5]}}"> d) {{q7[5]}}</label><br><br>
    </div><br>

    <div class="textarea">
        <p><strong>8.{{q8[1]}}</strong></p><br>
        <label>
                <input type="radio" name="q8" value="{{q8[2]}}"> a) {{q8[2]}}</label><br><br>
        <label>
                <input type="radio" name="q8" value="{{q8[3]}}"> b) {{q8[3]}}</label><br><br>
        <label>
                <input type="radio" name="q8" value="{{q8[4]}}"> c) {{q8[4]}}</label><br><br>
        <label>
                <input type="radio" name="q8" value="{{q8[5]}}"> d) {{q8[5]}}</label><br><br>
    </div><br>

    <div class="textarea">
        <p><strong>9.{{q9[1]}}</strong></p><br>
        <label>
                <input type="radio" name="q9" value="{{q1[2]}}"> a) {{q9[2]}}</label><br><br>
        <label>
                <input type="radio" name="q9" value="{{q1[3]}}"> b) {{q9[3]}}</label><br><br>
        <label>
                <input type="radio" name="q9" value="{{q1[4]}}"> c) {{q9[4]}}</label><br><br>
        <label>
                <input type="radio" name="q9" value="{{q1[5]}}"> d) {{q9[5]}}</label><br><br>
    </div><br>

    <div class="textarea">
        <p><strong>10.{{q10[1]}}</strong></p><br>
        <label>
                <input type="radio" name="q10" value="{{q1[2]}}"> a) {{q10[2]}}</label><br><br>
        <label>    
                <input type="radio" name="q10" value="{{q1[3]}}"> b) {{q10[3]}}</label><br><br>
        <label>
                <input type="radio" name="q10" value="{{q1[4]}}"> c) {{q10[4]}}</label><br><br>
        <label>
                <input type="radio" name="q10" value="{{q1[5]}}"> d) {{q10[5]}}</label><br><br>
    </div>
    <br><br>

    <button type="submit" class="btn">Submit</button>
    </form>
    </div>

</body>

</html>