<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
    <link rel="icon" href="src/images/icon.png" type="image/png">
    <link rel="stylesheet" href="static/css/responsive.css">
    <link rel="stylesheet" href="static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="dns-prefetch" href="https://docs.google.com">
    <link href="https://fonts.googleapis.com/css?family=Google+Sans:400,500,700|Material+Icons" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="static/css/pace-theme.css">
    <link rel="stylesheet" href="static/css/styles.css">
    <link rel="stylesheet" href="static/css/responsive.css">
    <style>
        h1,
        h2 {
            text-align: center;
        }
    </style>
</head>

<body>

    {% include "includes/_navbar.html" %}
    <hr>
    <br>
    <br>
    <h1>Congratulations {{name}} You have finally completed the test!!!</h1>
    <h2>Please wait for the response from the team</h2>
    </div><a href="/" class="hero-button" rel="noopener"><i class="fab fa-meetup"></i> &nbsp; Home Page</a>

</body>


</html>